@import "reset.css";
@import "theme.css";

.extension {
    .common-block {
        margin-top: 12px;
        display: inline-block;
        background-color: #fcdaab;
        padding: 4px;
        border-radius: 4px;
        color: #e68d19;
    }

    .login-btn {
        height: 34px;
        width: 34px;
        background-color: var(--orange-300);
        border-radius: 4px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--amber-600);
    }
}

.login-wrapper {
    width: 34px;
    position: absolute;
    top: 0;
    right: 307px;
}

.extension {

    .status-select {
        margin-top: 4px;

        .status-select-button {
            width: 100%;
            background-color: var(--orange-300);
            border: none;
            border-radius: 4px;
            transition: background-color 0.2s;
            padding: 4px;
            color: var(--yellow-700);

            &:hover {
                background-color: var(--amber-300);
            }
        }

        .status-select-list {
            transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
            overflow: hidden;
            width: 100%;
            max-height: 0;
            border-radius: 4px;
            margin-top: 2px;

            &--open {
                transition: max-height 1s ease-in-out;
                max-height: 600px;
            }

            & > * + * {
                border-top: 1px solid var(--amber-600);
            }
        }

        .status-select-item {
            width: 100%;
            background-color: var(--orange-300);
            transition: background-color 0.2s;
            padding: 4px;
            color: var(--yellow-700);
            cursor: pointer;

            &:hover {
                background-color: var(--amber-300);
            }
        }

        .status-select-item.status-select-item--red {
            color: red;
        }
    }
}
