@import "reset.css";

.extension {
    .common-block {
        margin-top: 12px;
        display: inline-block;
        background-color: #fcdaab;
        padding: 4px;
        border-radius: 4px;
        color: #e68d19;
    }
}

.top-line {
    height: auto !important;
}


.status-select {
    .status-select-button {
        transition: max-heigth 0.5s;
    }

    .status-select-list {
        overflow: hidden;
        max-height: 0;

        &--open {
            max-height: inherit;
        }
    }
}
