@import "reset.css";
@import "theme.css";

.extension {
    .common-block {
        margin-top: 12px;
        display: inline-block;
        background-color: #fcdaab;
        padding: 4px;
        border-radius: 4px;
        color: #e68d19;
    }

    .login-btn {
        height: 34px;
        width: 34px;
        background-color: var(--orange-300);
        border-radius: 4px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--amber-600);
    }

}

.login-wrapper {
    width: 34px;
    position: absolute;
    top: 0;
    right: 307px;
}

.top-line {
    height: auto !important;
}

.status-select {
    .status-select-button {
        transition: max-heigth 0.5s;
    }

    .status-select-list {
        overflow: hidden;
        max-height: 0;

        &--open {
            max-height: inherit;
        }
    }
}
