:root {
  --amber-300: #fcd34d;
  --amber-500: #f59e0b;
  --amber-600: #d97706;

  --orange-200: #fed7aa;
  --orange-300: #fdba74;

  --yellow-700: #a16207;

  --watched_bg: rgba(163, 230, 53, 0.6);
  --watched_active_bg: rgba(101, 163, 13, 0.6);
}
