.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  opacity: 0;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);

  transition: opacity 0.1s ease;
  pointer-events: none;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}
